/*Font Variables*/

$baseFontSize: 15px;
$baseFontFamily: 'Droid Sans', sans-serif;
$baseFontColor: #666666;

/*Colors*/

$primaryColor: #00aff0;
$secondaryColor: #7fba00;
$lightColor: #e1eef2;
$darkColor: #2b5464;

/*Header*/

$headerHeight: 400px;
$headerImage: '../img/showcase.jpg';