/*Carousel*/
.carousel{
    margin-bottom: 20px;
    
    img{
        padding: 3px;
        @include add-border(1px, #ccc, all)
    }
}

/*Tabs*/

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    @include add-background($primaryColor)
}

.tab-content>.tab-pane{
    @include add-background($primaryColor);
    padding: 20px 10px;
    @include border-radius(5px);
    margin-bottom: 20px
}

.blogs .nav-tabs .nav-item.show .nav-link, .blogs .nav-tabs .nav-link.active{
    @include add-background($lightColor)
}

.blogs .tab-content>.tab-pane{
    @include add-background($lightColor);
    padding: 20px 10px;
    @include border-radius(5px);
    margin-bottom: 20px
}